$hover-color: #e01d3b;
$hover-bg: rgb(255, 252, 224);
$hover-shadow: #aaaaaa;
$light: #dadada;
$dark: #919191;

$season1: rgba(34, 129, 195, 0.2);
$season2: rgba(104, 129, 183, 0.2);
$season3: rgba(171, 176, 182, 0.2);
$season4: rgba(160, 58, 132, 0.2);
$season5: rgba(101, 101, 155, 0.2);
$season6: rgba(53, 128, 157, 0.2);
$season7: rgba(0, 191, 254, 0.2);
$season8: rgba(214, 108, 154, 0.2);
$season9: rgba(245, 46, 41, 0.2);

li {
  list-style: none;
}

.summaryList {
  display: flex;
  height: 3rem;
}

.sumListMargin:hover {
  height: 3rem;
}

.episodeNum {
  width: 4rem;
  margin: 0;
  padding: 0.5rem 1rem;

  &.number {
    display: flex;
    justify-content: center;
  }
}

@mixin EpisodeName($width, $paddingTB, $paddingLR) {
  width: $width;
  margin: 0;
  padding: $paddingTB $paddingLR;

  &:hover:not(.title) {
    border-radius: 0.3rem;
    color: $hover-color;
    padding: 0.5rem;
    background-color: $hover-bg;
    box-shadow: 5px 8px 7px -1px $hover-shadow;
  }
}
.episodeName {
  @include EpisodeName(18rem, 0.5rem, 0);
}

.allSeasons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.season {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.episodeListHidden {
  display: none;
}

.episodeList {
  margin: 0.5rem 0 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin buttonStyle {
  font-size: 1rem;
  width: 8rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;

  &:hover {
    cursor: pointer;
    border-top: $light 2px solid;
    border-left: $light 2px solid;
    border-bottom: $dark 2px solid;
    border-right: $dark 2px solid;
  }
}

.button-1 {
  @include buttonStyle();
  background-color: $season1;
}

.button-2 {
  @include buttonStyle();
  background-color: $season2;
}

.button-3 {
  @include buttonStyle();
  background-color: $season3;
}

.button-4 {
  @include buttonStyle();
  background-color: $season4;
}

.button-5 {
  @include buttonStyle();
  background-color: $season5;
}

.button-6 {
  @include buttonStyle();
  background-color: $season6;
}

.button-7 {
  @include buttonStyle();
  background-color: $season7;
}

.button-8 {
  @include buttonStyle();
  background-color: $season8;
}

.button-9 {
  @include buttonStyle();
  background-color: $season9;
}

@media (min-width: 48em) {
  .summaryList {
    display: flex;
    height: 2.5rem;
  }
}
